$primary: #6100ee;

.MuiToolbar-root {
  flex-direction: column !important;
}

.modalBody {
  .MuiInputBase-input {
    background-color: #e8e8e8 !important;
    padding: 8px !important;
  }

  .MuiSelect-select {
    padding: 12px !important;
  }
}
